@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/fonts/fonts.scss';

.root {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: calc(14 * $ratio-big);
  line-height: calc(18 * $ratio-big);

  .button path {
    fill: var(--myColor1);
  }

  .button {
    border: none;
    background: none;
    --myColor1: #969696;
    width: calc(50 * $ratio-big);
    min-width: 50px;
    margin-right: calc(25 * $ratio-big);
  }

  .input {
    display: flex;
    align-items: center;
    height: calc(40 * $ratio-big);
    width: 30%;
    background-color: $color-header-navbar-hover;
    border: 2px solid $color-header-info;
    border-radius: 10px;
    outline: none;
    color: $color-white;
    caret-color: $color-black;
    transition: 0.2s;
  }

  .input:hover {
    background-color: $color-white;
    color: $color-black;
    opacity: 50%;
    transition: 0.2s;
  }
  .input:focus {
    width: 100%;
    background-color: $color-white;
    color: $color-black;
    transition: 0.2s;
  }
}

.button:active {
  --myColor1: #ffffff;
}
