@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/fonts/fonts.scss';

@media screen and (min-width: 769px) {
  .root {
    position: relative;
    padding-top: calc(124 * $ratio-big);
    caret-color: transparent;
    cursor: default;

    .navigation {
      position: fixed;
      z-index: 2000;
      top: calc(44 * $ratio-big);
      left: 20%;
      width: 40%;
      height: calc(80 * $ratio-big);
      display: flex;
      justify-content: right;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
      font-weight: 400;
      font-size: calc(14 * $ratio-big);
      line-height: calc(18 * $ratio-big);
      caret-color: transparent;

      .category {
        position: absolute;
        border: none;
        background: none;
        width: 10%;
        min-width: 25px;
        padding: 0;
        left: 0;
        --myColor1: #969696;

        .categoryIcon {
          width: calc(45 * $ratio-big);
          height: calc(45 * $ratio-big);
        }
      }

      .category path {
        fill: var(--myColor1);
      }

      .category:active {
        --myColor1: #ffffff;
      }

      .category:hover {
        --myColor1: #ffffff;
      }

      .cross {
        position: absolute;
        display: none;
        border: none;
        background: none;
        width: 10%;
        min-width: 25px;
        padding: 0;
        left: 30%;
        --myColor1: #969696;

        .s.crossIcon {
          width: calc(25 * $ratio-big);
          height: calc(25 * $ratio-big);
        }
      }

      .cross path {
        fill: var(--myColor1);
      }

      .cross:active {
        --myColor1: #ffffff;
      }

      .select {
        position: absolute;
        display: none;
        height: calc(40 * $ratio-big);
        width: 20%;
        left: 10%;
        background-color: $color-header-navbar-hover;
        border: 2px solid $color-header-info;
        border-radius: calc(10 * $ratio-big);
        outline: none;
        color: $color-white;
        caret-color: $color-black;
      }

      .button path {
        fill: var(--myColor1);
      }

      .button {
        border: none;
        background: none;
        --myColor1: #969696;
        width: 10%;
        min-width: 50px;

        .searchIcon {
          width: calc(45 * $ratio-big);
          height: calc(45 * $ratio-big);
        }
      }

      .button:active {
        --myColor1: #ffffff;
      }

      .input {
        display: flex;
        align-items: center;
        height: calc(40 * $ratio-big);
        width: 30%;
        background-color: $color-header-navbar-hover;
        border: 2px solid $color-header-info;
        border-radius: calc(10 * $ratio-big);
        outline: none;
        color: $color-white;
        caret-color: $color-black;
        transition: 0.2s;
      }

      .input:hover {
        background-color: $color-white;
        color: $color-black;
        opacity: 50%;
        transition: 0.2s;
      }
      .input:focus {
        width: 50%;
        background-color: $color-white;
        color: $color-black;
        transition: 0.2s;
      }
      .cross_search {
        position: absolute;
        display: none;
        border: none;
        background: none;
        width: 10%;
        min-width: 25px;
        padding: 0;
        right: 10%;
        --myColor1: #969696;

        .s.crossIcon {
          width: calc(25 * $ratio-big);
          height: calc(25 * $ratio-big);
        }
      }

      .cross_search path {
        fill: var(--myColor1);
      }

      .cross_search:active {
        --myColor1: #ffffff;
      }
    }

    .main {
      position: relative;
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(1920 * $ratio-big);
      height: calc(810 * $ratio-big);
      caret-color: transparent;
      color: $color-white;

      .image {
        width: calc(1920 * $ratio-big);
        height: calc(810 * $ratio-big);
      }
      .container {
        position: absolute;
        display: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        aspect-ratio: 1;
        border: 4px solid #fff;

        .logo {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          height: 50%;
          font-family: 'Post No Bills Jaffna';
          font-weight: 700;
          font-size: calc(64 * $ratio-big);
          line-height: calc(95 * $ratio-big);
        }

        .line {
          margin-left: 12.5%;
          width: 75%;
          border: 1px #fff solid;
        }
        .city {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding-top: 10%;
          height: 40%;
          font-family: 'PT Sans', sans-serif;
          font-weight: 400;
          font-size: calc(44 * $ratio-big);
          line-height: calc(28 * $ratio-big);
        }
      }

      .description {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        margin-top: 25%;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        font-size: calc(24 * $ratio-big);
        line-height: calc(24 * $ratio-big);
      }
    }

    .heading {
      display: column;
      width: 100%;
      height: calc(140 * $ratio-big);
      margin-top: calc(50 * $ratio-big);
      font-family: 'Comfortaa';
      font-weight: 700;
      font-size: calc(36 * $ratio-big);
      line-height: calc(42 * $ratio-big);

      h1 {
        text-align: center;
      }

      .line {
        margin-left: 42.5%;
        width: 15%;
        border: 1px $color-black solid;
      }
    }

    .catalog {
      padding: calc(25 * $ratio-big);
      width: 100%;

      h1 {
        font-family: 'Comfortaa';
        font-weight: 400;
        font-size: calc(36 * $ratio-big);
        line-height: calc(42 * $ratio-big);
      }

      .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: calc(50 * $ratio-big);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .root {
    position: relative;
    padding-top: calc(144 * $ratio-small);
    caret-color: transparent;
    cursor: default;

    .navigation {
      position: fixed;
      z-index: 2000;
      top: calc(94 * $ratio-small);
      left: 0%;
      width: 100%;
      height: calc(50 * $ratio-small);
      display: flex;
      justify-content: right;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
      font-weight: 400;
      font-size: calc(18 * $ratio-small);
      line-height: calc(18 * $ratio-small);
      caret-color: transparent;
      background-color: $color-header-navbar;

      .category {
        position: absolute;
        border: none;
        background: none;
        width: 10%;
        min-width: 25px;
        padding: 0;
        left: 0;
        --myColor1: #969696;

        .categoryIcon {
          width: calc(25 * $ratio-small);
          height: calc(25 * $ratio-small);
        }
      }

      .category path {
        fill: var(--myColor1);
      }

      .category:active {
        --myColor1: #ffffff;
      }

      .category:hover {
        --myColor1: #ffffff;
      }

      .cross {
        position: absolute;
        display: none;
        border: none;
        background: none;
        width: 10%;
        min-width: 25px;
        padding: 0;
        left: 33%;
        --myColor1: #969696;

        .s.crossIcon {
          width: calc(5 * $ratio-small);
          height: calc(5 * $ratio-small);
        }
      }

      .cross path {
        fill: var(--myColor1);
      }

      .cross:active {
        --myColor1: #ffffff;
      }

      .select {
        position: absolute;
        display: none;
        height: calc(40 * $ratio-small);
        width: 25%;
        left: 10%;
        background-color: $color-header-navbar-hover;
        border: 2px solid $color-header-info;
        border-radius: calc(10 * $ratio-small);
        outline: none;
        color: $color-white;
        caret-color: $color-black;
      }

      .button path {
        fill: var(--myColor1);
      }

      .button {
        border: none;
        background: none;
        --myColor1: #969696;
        width: 10%;
        min-width: 50px;

        .searchIcon {
          width: calc(25 * $ratio-small);
          height: calc(25 * $ratio-small);
        }
      }

      .button:active {
        --myColor1: #ffffff;
      }

      .input {
        display: flex;
        align-items: center;
        height: calc(40 * $ratio-small);
        width: 30%;
        background-color: $color-header-navbar-hover;
        border: 2px solid $color-header-info;
        border-radius: calc(10 * $ratio-small);
        outline: none;
        color: $color-white;
        caret-color: $color-black;
        transition: 0.2s;
      }

      .input:hover {
        background-color: $color-white;
        color: $color-black;
        opacity: 45%;
        transition: 0.2s;
      }
      .input:focus {
        width: 45%;
        background-color: $color-white;
        color: $color-black;
        transition: 0.2s;
      }
      .cross_search {
        position: absolute;
        display: none;
        border: none;
        background: none;
        width: 10%;
        min-width: 25px;
        padding: 0;
        right: 11%;
        --myColor1: #969696;

        .s.crossIcon {
          width: calc(15 * $ratio-small);
          height: calc(15 * $ratio-small);
        }
      }

      .cross_search path {
        fill: var(--myColor1);
      }

      .cross_search:active {
        --myColor1: #ffffff;
      }
    }

    .main {
      position: relative;
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      caret-color: transparent;
      color: $color-white;

      .image {
        width: 100%;
      }
      .container {
        position: absolute;
        display: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        aspect-ratio: 1;
        border: 4px solid #fff;

        .logo {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          height: 50%;
          font-family: 'Post No Bills Jaffna';
          font-weight: 700;
          font-size: calc(24 * $ratio-small);
          line-height: calc(24 * $ratio-small);
        }

        .line {
          margin-left: 12.5%;
          width: 75%;
          border: 1px #fff solid;
        }
        .city {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding-top: 10%;
          height: 40%;
          font-family: 'PT Sans', sans-serif;
          font-weight: 400;
          font-size: calc(24 * $ratio-small);
          line-height: calc(24 * $ratio-small);
        }
      }

      .description {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        margin-top: 30%;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        font-size: calc(14 * $ratio-small);
        line-height: calc(14 * $ratio-small);
      }
    }

    .heading {
      display: column;
      width: 100%;
      height: calc(140 * $ratio-small);
      margin-top: calc(50 * $ratio-small);
      font-family: 'Comfortaa';
      font-weight: 700;
      font-size: calc(24 * $ratio-small);
      line-height: calc(42 * $ratio-small);

      h1 {
        text-align: center;
      }

      .line {
        margin-left: 42.5%;
        width: 15%;
        border: 1px $color-black solid;
      }
    }

    .catalog {
      padding: calc(25 * $ratio-small);
      width: 100%;

      h1 {
        font-family: 'Comfortaa';
        font-weight: 400;
        font-size: calc(36 * $ratio-small);
        line-height: calc(42 * $ratio-small);
      }

      .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: calc(25 * $ratio-small);
      }
    }
  }
}
