@font-face {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  src: url(./PTSans-Regular.ttf);
}

@font-face {
  font-family: 'Post No Bills Jaffna';
  font-weight: 700;
  src: url(./PostNoBillsJaffna-Bold.ttf);
}

@font-face {
  font-family: 'Bungee Spice', cursive;
  font-weight: 400;
  src: url(./BungeeSpice-Regular.ttf);
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  src: url(./PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 400;
  src: url(./Comfortaa-Regular.ttf);
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 700;
  src: url(./Comfortaa-Bold.ttf);
}
