@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/fonts/fonts.scss';

@media screen and (min-width: 769px) {
  .root {
    position: relative;
    padding-top: calc(124 * $ratio-big);
    caret-color: transparent;
    cursor: default;

    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: calc(18 * $ratio-big);
    line-height: calc(21 * $ratio-big);

    .navigate {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: left;
      margin: calc(25 * $ratio-big) calc(50 * $ratio-big);
      width: 100%;

      font-family: 'Comfortaa';
      font-weight: 400;
      font-size: calc(10 * $ratio-big);
      line-height: calc(16 * $ratio-big);

      .buttonNavigate {
        border: none;
        background: none;
        --myColor1: #000000;

        .icon path {
          fill: var(--myColor1);
        }

        .icon {
          width: calc(25 * $ratio-big);
          height: calc(25 * $ratio-big);
        }
      }

      .buttonNavigate:active {
        --myColor1: #969696;
        color: $color-header-info;
        text-decoration: underline;
      }

      .buttonNavigate:hover {
        --myColor1: #969696;
        color: $color-header-info;
        text-decoration: underline;
      }
    }

    .title {
      width: 100%;
      display: column;
      align-items: center;
      justify-content: left;
      padding-left: calc(50 * $ratio-big);
      font-size: calc(20 * $ratio-big);
      line-height: calc(24 * $ratio-big);

      .buttonNavigate {
        border: none;
        background: none;
        font-size: calc(20 * $ratio-big);
        line-height: calc(24 * $ratio-big);
        padding-left: calc(50 * $ratio-big);
      }
      .buttonNavigate:active {
        color: $color-header-info;
        text-decoration: underline;
      }

      .buttonNavigate:hover {
        color: $color-header-info;
        text-decoration: underline;
      }
    }

    .cart {
      position: relative;
      display: flex;

      justify-content: left;
      margin: 0;
      width: 100%;

      .products {
        width: 70%;
      }

      .order {
        display: column;
        margin: calc(50 * $ratio-big);
        padding: calc(25 * $ratio-big);
        width: 30%;
        height: 65vh;

        box-shadow: calc(0 * $ratio-big) calc(5 * $ratio-big) calc(45 * $ratio-big)
          rgba(0, 0, 0, 0.25);
        border-radius: calc(25 * $ratio-big);

        .id {
          display: flex;
          align-items: center;
          margin: calc(50 * $ratio-big);
          h2 {
            font-weight: 700;
            font-size: calc(32 * $ratio-big);
            margin: calc(0 * $ratio-big);
          }
        }

        .description {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: calc(50 * $ratio-big);
          h2 {
            font-weight: 700;
            font-size: calc(24 * $ratio-big);
            margin: calc(0 * $ratio-big);
          }
          h3 {
            font-weight: 400;
            font-size: calc(24 * $ratio-big);
            margin: calc(0 * $ratio-big);
          }
        }

        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: calc(50 * $ratio-big);
          h2 {
            font-weight: 700;
            font-size: calc(24 * $ratio-big);
            margin: calc(0 * $ratio-big);
          }
          h3 {
            font-weight: 400;
            font-size: calc(24 * $ratio-big);
            margin: calc(0 * $ratio-big);
          }
        }

        .clear {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-top: calc(25 * $ratio-big);
          margin-bottom: calc(25 * $ratio-big);

          .buttonDelete {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            background: none;
            border: 2px solid $color-header-info;
            border-radius: 1%;
            width: 75%;
            height: calc(75 * $ratio-big);
            color: $color-white;
            padding: 0;
            --myColor1: #ffffff;
            background-color: $color-header-navbar-hover;

            .deleteIcon {
              width: calc(35 * $ratio-big);
              height: calc(35 * $ratio-big);
            }

            .deleteIcon path {
              fill: var(--myColor1);
            }

            .titleDelete {
              font-weight: 700;
              font-size: calc(18 * $ratio-big);
              line-height: calc(12 * $ratio-big);
              margin: 0;
            }
          }

          .buttonDelete:active {
            border-color: $color-header-info;
            color: $color-header-info;
            background-color: $color-white;
            --myColor1: #969696;
          }
          .buttonDelete:hover {
            border-color: $color-header-info;
            color: $color-header-info;
            background-color: $color-white;
            --myColor1: #969696;
          }
        }

        .buy {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-top: calc(25 * $ratio-big);
          margin-bottom: calc(25 * $ratio-big);

          .buttonBuy {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            background: none;
            border: 2px solid $color-header-info;
            border-radius: 1%;
            width: 75%;
            height: calc(75 * $ratio-big);
            color: $color-white;
            padding: 0;
            --myColor1: #ffffff;
            background-color: $color-header-navbar-hover;

            .buyIcon {
              width: calc(35 * $ratio-big);
              height: calc(35 * $ratio-big);
            }

            .buyIcon path {
              fill: var(--myColor1);
            }

            .titleBuy {
              font-weight: 700;
              font-size: calc(18 * $ratio-big);
              line-height: calc(12 * $ratio-big);
              margin: 0;
            }
          }

          .buttonBuy:active {
            border-color: $color-header-info;
            color: $color-header-info;
            background-color: $color-white;
            --myColor1: #969696;
          }
          .buttonBuy:hover {
            border-color: $color-header-info;
            color: $color-header-info;
            background-color: $color-white;
            --myColor1: #969696;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .root {
    position: relative;
    padding-top: calc(94 * $ratio-small);
    caret-color: transparent;
    cursor: default;

    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: calc(18 * $ratio-small);
    line-height: calc(21 * $ratio-small);

    .navigate {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: left;
      margin: calc(25 * $ratio-small) calc(25 * $ratio-small);
      width: 90%;

      font-family: 'Comfortaa';
      font-weight: 400;
      font-size: calc(10 * $ratio-small);
      line-height: calc(16 * $ratio-small);

      .buttonNavigate {
        border: none;
        background: none;
        --myColor1: #000000;

        .icon path {
          fill: var(--myColor1);
        }

        .icon {
          width: calc(25 * $ratio-small);
          height: calc(25 * $ratio-small);
        }
      }

      .buttonNavigate:active {
        --myColor1: #969696;
        color: $color-header-info;
        text-decoration: underline;
      }

      .buttonNavigate:hover {
        --myColor1: #969696;
        color: $color-header-info;
        text-decoration: underline;
      }
    }

    .title {
      width: 100%;
      display: column;
      align-items: center;
      justify-content: left;
      padding-left: calc(50 * $ratio-small);
      font-size: calc(16 * $ratio-small);
      line-height: calc(16 * $ratio-small);

      .buttonNavigate {
        border: none;
        background: none;
        font-size: calc(20 * $ratio-small);
        line-height: calc(24 * $ratio-small);
        padding-left: calc(50 * $ratio-small);
      }
      .buttonNavigate:active {
        color: $color-header-info;
        text-decoration: underline;
      }

      .buttonNavigate:hover {
        color: $color-header-info;
        text-decoration: underline;
      }
    }

    .cart {
      position: relative;
      display: flex;

      justify-content: left;
      margin: 0;
      width: 100%;

      .products {
        width: 70%;
      }

      .order {
        display: column;
        margin: calc(20 * $ratio-small);
        padding: calc(10 * $ratio-small);
        width: 30%;
        height: 100%;

        box-shadow: calc(0 * $ratio-small) calc(5 * $ratio-small) calc(45 * $ratio-small)
          rgba(0, 0, 0, 0.25);
        border-radius: calc(25 * $ratio-small);

        .id {
          display: flex;
          align-items: center;
          margin: calc(10 * $ratio-small);
          h2 {
            font-weight: 700;
            font-size: calc(16 * $ratio-small);
            margin: calc(0 * $ratio-small);
          }
        }

        .description {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: calc(10 * $ratio-small);
          h2 {
            font-weight: 700;
            font-size: calc(12 * $ratio-small);
            margin: calc(0 * $ratio-small);
          }
          h3 {
            font-weight: 400;
            font-size: calc(12 * $ratio-small);
            margin: calc(0 * $ratio-small);
          }
        }

        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: calc(10 * $ratio-small);
          h2 {
            font-weight: 700;
            font-size: calc(12 * $ratio-small);
            margin: calc(0 * $ratio-small);
          }
          h3 {
            font-weight: 400;
            font-size: calc(12 * $ratio-small);
            margin: calc(0 * $ratio-small);
          }
        }

        .clear {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-top: calc(25 * $ratio-small);
          margin-bottom: calc(25 * $ratio-small);

          .buttonDelete {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            background: none;
            border: 2px solid $color-header-info;
            border-radius: 1%;
            width: 75%;
            height: calc(55 * $ratio-small);
            color: $color-white;
            padding: 0;
            --myColor1: #ffffff;
            background-color: $color-header-navbar-hover;

            .deleteIcon {
              width: calc(25 * $ratio-small);
              height: calc(25 * $ratio-small);
            }

            .deleteIcon path {
              fill: var(--myColor1);
            }

            .titleDelete {
              font-weight: 700;
              font-size: calc(9 * $ratio-small);
              line-height: calc(12 * $ratio-small);
              margin: 0;
            }
          }

          .buttonDelete:active {
            border-color: $color-header-info;
            color: $color-header-info;
            background-color: $color-white;
            --myColor1: #969696;
          }
          .buttonDelete:hover {
            border-color: $color-header-info;
            color: $color-header-info;
            background-color: $color-white;
            --myColor1: #969696;
          }
        }

        .buy {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-top: calc(25 * $ratio-small);
          margin-bottom: calc(25 * $ratio-small);

          .buttonBuy {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            background: none;
            border: 2px solid $color-header-info;
            border-radius: 1%;
            width: 75%;
            height: calc(55 * $ratio-small);
            color: $color-white;
            padding: 0;
            --myColor1: #ffffff;
            background-color: $color-header-navbar-hover;

            .buyIcon {
              width: calc(25 * $ratio-small);
              height: calc(25 * $ratio-small);
            }

            .buyIcon path {
              fill: var(--myColor1);
            }

            .titleBuy {
              font-weight: 700;
              font-size: calc(9 * $ratio-small);
              line-height: calc(12 * $ratio-small);
              margin: 0;
            }
          }

          .buttonBuy:active {
            border-color: $color-header-info;
            color: $color-header-info;
            background-color: $color-white;
            --myColor1: #969696;
          }
          .buttonBuy:hover {
            border-color: $color-header-info;
            color: $color-header-info;
            background-color: $color-white;
            --myColor1: #969696;
          }
        }
      }
    }
  }
}
