@import '../../../../../../assets/styles/variables.scss';
@import '../../../../../../assets/fonts/fonts.scss';

@media screen and (min-width: 769px) {
  .root {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(80 * $ratio-big);
    margin-top: calc(35 * $ratio-big);
    margin-bottom: calc(35 * $ratio-big);

    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: calc(18 * $ratio-big);
    line-height: calc(18 * $ratio-big);
    caret-color: transparent;
  }

  .errorMsg {
    position: absolute;
    top: calc(-45 * $ratio-big);
    right: 0;
    color: red;
    pointer-events: none;
  }

  .textareaDefault {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(120 * $ratio-big);
    padding-left: calc(15 * $ratio-big);
    border: 2px solid $color-header-info;
    caret-color: $color-black;
    resize: none;
  }

  .textareaDefault:focus {
    outline: none;
  }

  .textareaError {
    border: 2px solid red;
  }

  .textareaDefault::placeholder {
    color: $color-header-info;
    caret-color: transparent;
  }

  .label {
    position: absolute;
    display: flex;
    align-items: center;
    top: calc(-35 * $ratio-big);
    left: calc(-10 * $ratio-big);
    transform: translateY(-50%);
    padding-left: calc(0 * var(--ratio-big));
    opacity: 0;
    color: $color-header-info;
    transition: 0.2s;
    caret-color: transparent;

    p {
      color: red;
    }
  }

  .textareaDefault:focus + label,
  .textareaDefault:focus:not(:placeholder-shown) + label {
    opacity: 1;
  }

  .textareaDefault:focus::-webkit-input-placeholder {
    color: transparent;
    transition: 0.2s;
  }
}

@media screen and (max-width: 768px) {
  .root {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(80 * $ratio-small);
    margin-top: calc(35 * $ratio-small);
    margin-bottom: calc(35 * $ratio-small);

    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: calc(18 * $ratio-small);
    line-height: calc(18 * $ratio-small);
    caret-color: transparent;
  }

  .errorMsg {
    position: absolute;
    top: calc(-45 * $ratio-small);
    right: 0;
    color: red;
    pointer-events: none;
  }

  .textareaDefault {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(120 * $ratio-small);
    padding-left: calc(15 * $ratio-small);
    border: 2px solid $color-header-info;
    caret-color: $color-black;
    resize: none;
  }

  .textareaDefault:focus {
    outline: none;
  }

  .textareaError {
    border: 2px solid red;
  }

  .textareaDefault::placeholder {
    color: $color-header-info;
    caret-color: transparent;
  }

  .label {
    position: absolute;
    display: flex;
    align-items: center;
    top: calc(-35 * $ratio-small);
    left: calc(-10 * $ratio-small);
    transform: translateY(-50%);
    padding-left: 0;
    opacity: 0;
    color: $color-header-info;
    transition: 0.2s;
    caret-color: transparent;

    p {
      color: red;
    }
  }

  .textareaDefault:focus + label,
  .textareaDefault:focus:not(:placeholder-shown) + label {
    opacity: 1;
  }

  .textareaDefault:focus::-webkit-input-placeholder {
    color: transparent;
    transition: 0.2s;
  }
}