// === VARIABLES ===
$ratio-big: calc(100vw / 1920);


$color-white: #ffffff;
$color-black: #000000;
$color-header-info: #969696;
$color-header-navbar: #0F0F0F;
$color-header-navbar-hover: #1F1F1F;
$color-productItem-image: #191B1C;


// === / VARIABLES ===